{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Favicon -->
  <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon" />
  <!-- Icon - IconMonster -->
  <link rel="stylesheet" href="https://cdn.iconmonstr.com/1.3.0/css/iconmonstr-iconic-font.min.css" />
  <!-- Mumble UI -->
  <link rel="stylesheet" href="{% static 'uikit/styles/uikit.css' %}" />
  <!-- Dev Search UI -->
  <link rel="stylesheet" href="{% static 'styles/app.css' %}" />

  <title>DevSearch - Connect with Developers!</title>
</head>

<body>
  <!-- Header Section -->
  <header class="header">
    <div class="container container--narrow">
      <a href="/" class="header__logo">
        <img src="{% static 'images/logo.svg' %}" alt="DevSearch Logo" />
      </a>
      <nav class="header__nav">
        <input type="checkbox" id="responsive-menu" />
        <label for="responsive-menu" class="toggle-menu">
          <span>Menu</span>
          <div class="toggle-menu__lines"></div>
        </label>
        <ul class="header__menu">
          <li class="header__menuItem"><a href="{% url 'index' %}">Developers</a></li>
          <li class="header__menuItem"><a href="{% url 'projects' %}">Projects</a></li>
          <li class="header__menuItem"><a href="{% url 'inbox' %}">Inbox</a></li>
          <li class="header__menuItem"><a href="{% url 'account' %}">My Account</a></li>
          {% if request.user.username %}
            <li class="header__menuItem"><a href="{% url 'logout' %}" class="btn btn--sub">Log Out</a></li>
          {% else %}
            <li class="header__menuItem"><a href="{% url 'login' %}" class="btn btn--sub">Login/Sign Up</a></li>
          {% endif %}
        </ul>
      </nav>
    </div>
  </header>

  <!-- Main Section -->
  <main class="home">
    <section class="hero-section text-center">
      <div class="container container--narrow">
        <div class="hero-section__box">
          <h2>CONNECT WITH <span>DEVELOPERS</span></h2>
          <h2>FROM AROUND THE WORLD</h2>
        </div>

        <div class="hero-section__search">
          <form class="form" method="post">
            {% csrf_token %}
            <div class="form__field">
              <label for="formInput#search">Search Developers </label>
              <input class="input input--text" id="formInput#search" type="text" name="search"
                placeholder="Search by developer name" />
            </div>

            <input class="btn btn--sub btn--lg" type="submit" value="Search" />
          </form>
        </div>
      </div>
    </section>
    <!-- Search Result: DevList -->
    <section class="devlist">
      <div class="container">
        <div class="grid grid--three">

        {% for user in users %}
          <div class="column card">
            <div class="dev">
              <a href="{% url 'profile' user.username %}" class="card__body">
                <div class="dev__profile">
                  <img class="avatar avatar--md" src="{{ user.account.avatar.url }}" alt="image" />
                  <div class="dev__meta">
                    <h3>{{ user.first_name }} {{ user.last_name }}</h3>
                    <h5>{{ user.account.summary }}</h5>
                  </div>
                </div>
                <p class="dev__info">{{ user.account.about }}</p>
                <div class="dev__skills">
                    {% for skill in user.account.skill_set.all %}
                      <span class="tag tag--pill tag--main">
                        <small>{{ skill.name }}</small>
                      </span>
                    {% endfor %}
                </div>
              </a>
            </div>
          </div>
        {% endfor %}
        </div>
      </div>
    </section>

    <div class="pagination">
      <ul class="container">
      {% if users.has_previous %}
        <li><a href="{% url 'index' %}?page={{ users.previous_page_number }}" class="btn">&#10094; Prev</a></li>
      {% else %}
          <li><a class="btn btn--disabled">&#10094; Prev</a></li>
      {% endif %}

          {% for page in users.paginator.page_range %}
            {% if users.number == page %}
                <li><a href="{% url 'index' %}?page={{ page }}" class="btn btn--sub">{{ page }}</a></li>
            {% else %}
                <li><a href="{% url 'index' %}?page={{ page }}" class="btn">{{ page }}</a></li>
            {% endif %}
          {% endfor %}

      {% if users.has_next %}
        <li><a href="{% url 'index' %}?page={{ users.next_page_number }}" class="btn">Next &#10095;</a></li>
      {% else %}
          <li><a class="btn btn--disabled">Next &#10095;</a></li>
      {% endif %}
      </ul>
    </div>
  </main>
</body>

</html>
